python-multipart
pydantic
pillow
numpy
torch
transformers
sentence-transformers
easyocr
ultralytics
opencv-python
scikit-learn
fastapi
uvicorn
sqlalchemy
psycopg2-binary
huggingface_hub[hf_xet]
bcrypt
mojimoji
PyJWT